.characterNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__text {
    color: #02adca;

    &__name {
      font-weight: bold;
    }
  }

  &__img {
    height: 150px;
  }
}
