.detail {
  min-width: 600px;
  max-width: 800px;
  margin: 0 auto;

  &__arrow {
    padding: 5px 6px;
    margin: 10px;
    background-color: #02adca;
    color: white;
    border-radius: 15px;

    &:hover {
      opacity: 70%;
    }
  }

  &__card {
    background-color: #02adca;
    color: white;
    padding: 32px;
    border-radius: 92px;
    display: flex;
    gap: 30px;
    align-items: center;

    &__img {
      border-radius: 64px;
      height: 300px;
    }

    &__text {
      line-height: 50px;
    }
  }
}

.info {
  font-weight: bold;
}

.icon {
  color: #84d32c;
}

@media (max-width: 700px) {
  .detail {
    min-width: 0;
    width: 250px;

    &__card {
      flex-direction: column;

      &__img {
        height: 200px;
      }
    }
  }
}
