.character {
  background-color: #55512D;
  color: #ebe480;

  &:hover {
    opacity: 60%;
    transition: opacity 200ms linear;
  }

  &__img {
    width: 190px;
  }

  &__text {
    padding: 5px 10px;
  }
}

.icon {
  color: #02ADCA;
}
