.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding-bottom: 50px;
}

@media (max-width: 1020px) {
  .form {
    flex-direction: column;
  }
}
