.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__arrow {
    padding: 5px 6px;
    background-color: #55512D;
    color: #ebe480;
    border-radius: 15px;

    &:hover {
      opacity: 60%;
      transition: opacity 200ms linear;
    }
  }

  &__img {
    width: 300px;
  }
}
