.btn {
  background-color: #55512D;
  padding: 5px 15px;
  border: 2px solid #55512D;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;

  &:hover {
    opacity: 60%;
    transition: opacity 200ms linear;
    cursor: pointer;
  }
}
